*{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 nav .nav1{
     border-radius: 5px;
     position: fixed;
     background-color: rgb(255, 255, 255);
     padding: 10px;
 } 
 nav .nav1 ul {
     
     display: flex;
     list-style-type: none;
     padding-left: 750px;
     margin-top: -30px;
     width: 100%;
 }
 nav .nav1 ul li {
     margin: 0px 15px;
     font-size: 18px;
 }
 .nav1 ul li :hover{
     color: #0a97b0;
 }
 nav .nav1 ul li .fa-solid  {
     color: rgb(0, 0, 0);
     font-size: 15px;
 }
 
 nav .nav1 ul li a{
     color: rgb(0, 0, 0);
     text-transform: uppercase;
 }
 a{
     text-decoration: none;
 }
 .rrr{
     color: black;
     font-size: 25px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding: 30px;
 }
 .background1{
     background-image: url(img\20t046h2.png);
     background-position: center;
     background-size: cover;
     width: 100vh;
     padding: 150px;
     color: rgb(0, 0, 0);
 }
 .background1 h1{
     text-transform: uppercase;
 }
 .background1 a{
     color: aliceblue;
     text-transform: capitalize;
     background-color: #0a97b0; 
     padding: 5px 20px;
 }
 
 .Services {
     padding: 100px;
 
 }
 .Services .o {
     background-color: rgb(245, 245, 245);
     width: 500px;
     height: 230px;
     border-radius: 6px;
     margin: 30px;
     display: flex;
 }
 .Services .o img{
     width: 80px;
     height: 50px;
     margin: 10px 20px;
 }
 .Services1 {
     display: flex;
 }
 .Services2 {
     display: flex;
 }
 .Services .llll{
     color: #0a97b0;
     margin-top: -40px;
     margin-left: 215px;
 }
 .Services .www{
     margin-bottom: 30px;
 }
 .Services .Services1 .o a{
     color: rgb(13, 9, 46);
     text-transform: capitalize;
     font-size: 19px;
     position: absolute;
     top: 835px;
 }
 .Services .Services2 .o a{
     color: rgb(13, 9, 46);
     text-transform: capitalize;
     font-size: 19px;
     position: absolute;
     top: 1150px;
 }
 .About{
     display: flex;
     padding:  0px 90px;
     justify-content: space-between; 
 }
 .About .About2 .ll{
     background-color: rgb(24, 45, 59);
     width: 550px;
     height: 270px;
     margin-top: 40px;
     color: rgb(24, 45, 59);
     margin-right: 0px;
 }
 .About .About2 img{
     width: 500px;
     border-radius: 10px;
     margin-top: -300px;
     margin-left: 25px;
 }
 .About .About1 h1{
     font-size: 33px;
     color: #0a97b0;
     margin-bottom: 15px;
 }
 .About .About1 p {
     font-size: 18px;
     margin-bottom: 50px;
 }
 .About .About1 a{
     background-color: #0a97b0;
     color: rgb(255, 255, 255);
     text-transform: capitalize;
     padding: 15px 50px;
     font-size: 17px;
 }
 .background2 {
     background-image: url(img\ah9ap9ao.png);
 }
 .Client{
    margin: 90px;
 }
 .Client .cccc{
    display: flex;
 }
 .Client .nnnn{
    color:  #0a97b0;
 }
 .Client .ccc{
    border: 1px solid rgb(221, 221, 221); 
    width: 350px;
    height: 150px;
    padding: 20px;
    margin-right: 70px;
    margin-top: 40px;

 }
 .icon .fa-brands {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 7px;
 }
footer section{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #04233b;
    color: rgb(255, 255, 255);
    padding: 40px;
}
footer section .footer1 {
    padding:  0px 60px;
    display: flex;
    justify-content: space-between;
}
footer section .footer1 .ffff{
    width: 500px;
    margin-right: 120px;
}
footer section .footer1 .fffff{
    width: 550px;
    margin-right: 150px;
    line-height: 26px;
}
footer section .footer1 h3{
    font-size: 25px;
}
footer section .footer1 ul li {
    list-style-type: none;
    margin-left: -40px;
    line-height: 26px;
    font-size: 16px;
}
footer section .footer1 ul li a{
    color: rgb(255, 255, 255);
}
footer section .footer2{
    display: flex;
}
footer section .footer2 .mm{
    text-transform: capitalize;
    line-height: 19px;
    width: 300px;   
}
footer section .footer2 .mmm{
    margin-left: -50px;
}
footer section .footer2 .mmm .email{
    
    border: 1px #04233b;
    background-color: #04233b;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 100px;
}
footer section .footer2 .mmm .submit3{
    color: rgb(255, 255, 255);
    background-color: #0a97b0;
    border: #0a97b0 1px;
    padding: 15px 30px;
}
footer .span {
    text-align: center;
    padding: 20px;
    font-size: 17px;
    color: rgb(3, 23, 43);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}  

 
 
 
 
 
 
 
 
 
 